 .about-hfn-own-hands{
     background:#fff!important;
}
 .mob-center{
     padding: 15px 0px;
}
 .begin-block-col {
     padding: 0px 45px 0px 45px;
}
.strong-view.about .testimonial{border:1px solid #efefef;}
.strong-view.modern.about .testimonial-content{margin: 38px 0px;}
.strong-view.modern.about .testimonial-content:before { left: 0px;  top: -36px; }
.strong-view.modern.about .testimonial-content:after { right: 0px;  bottom: -36px;}
.strong-view.modern.about .testimonial-content p{padding-bottom: 12px;}
.strong-view.modern.about .testimonial-content p strong{padding-bottom:12px; font-size: 17px;}


.strong-view.modern .testimonial-content p{font-style: normal; font-size: 16px; line-height: 24px; font-style:normal;}
.strong-view .testimonial-content{font-style: normal;}
.strong-view .testimonial-heading{font-family: gotham-book;   font-style: normal;  font-size: 20px;  padding-bottom: 16px;}