.dil-ki-awaaz p{
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 28px;
}

 .dil-ki-awaaz .su-audio{
   
    width:100%!important;
}
 .ext-link{
    background:#f4f4f4;
}
 p.download-text{
    margin-top:15px;
}
 .prgm-listen{
    margin-top:15px!important;
}
