.align-center{
     text-align:center;
     margin:0px auto;
     width:600px;
}
.hearty-mascot-row h3{
    line-height: 32px;
    padding-bottom: 32px;
    font-size: 18px;
    padding-top: 52px;
}
.fb-posts{
    padding: 30px 0px;
}