.hfn-new-ideas{
    background-color:#085BA1;
     padding:60px 0px;
}
 .entry-content {
     margin: 0em 0 0;
     clear: both;
}
 .idea-touch{
    padding-bottom:15px!important;
}
 .recaptchatable #recaptcha_response_field {
     margin: 10px 0 0 0!important;
     height: 20px;
}
 label#ninja_forms_field_5_label {
     display: none;
}
 #custom-bg {
     height: 254px!important;
     margin-top: 30px;
}
 @media (max-width:1199px) {
     #custom-bg {
         margin-top: 0px;
    }
}
 .form-filling{
     margin-bottom:15px;
     text-align:justify;
}
