.yoga_page_btn{
    box-shadow: none !important;
    background: #1da1f3 !important;
}
.yoga_page_btn:hover{
    background-color: #7b7b7b !important;
}
 .infographics-image-box{
     position: relative;
     margin-bottom: 35px;
     background-color: #fff;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
     height:220px;
}
 .suimg{
     width:480px;
     height:250px;
}

 .iyd-article-section {
     padding: 60px 0px;
     border-bottom: 1px solid #eee;
}
 p.article-readmore{
     font-family: gotham-light;
     color: #444;
}
 a.article-link{
     font-family: gotham-light;
     font-size: 18px;
     line-height:30px;
}
 h4.iyd-livecast{
     font-family: gotham-light;
     line-height: 32px;
     font-size: 20px;
}
 #tribe-bar-form input[type='text'] {
     border-bottom: 1px solid #b9b9b9!important;
}
 #tribe-bar-form input[type='text']:focus {
     outline:none!important;
}
 #tribe-events-content.tribe-events-list {
     border: 1px solid #eceaea;
     background: #fff;
}
 .tribe-events-list h2.tribe-events-page-title {
     margin-top: 0px;
     padding-top: 15px;
}
 .tribe-events-notices {
     margin: 0px 0 18px!important;
}
 .control-group{
     float: left!important;
     display: inline;
     width: 48%!important;
}
 #wr_form_26079.jsn-master .jsn-bootstrap .jsn-form-content .control-group .controls input, #wr_form_26079.jsn-master .jsn-bootstrap .jsn-form-content .control-group .controls select, #wr_form_26079.jsn-master .jsn-bootstrap .jsn-form-content .control-group .controls textarea {
     background: #ffffff;
     box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(255,255,255,0.8) inset;
     border-color: #cccccc;
     color: #666666;
     width: 95%!important;
}
 .jsn-master .jsn-bootstrap .btn {
     background-color: #1ca0f2 !important;
}
 .form-actions{
     padding: 0px 0px 0px 5px!important;
     margin: 0px!important;
}
 .iyd-about-daaji-title{
     margin-top:0px!important;
}
 .tribe-events-notices {
     background: #476b82!important;
     border-radius: 4px;
     border: none!important;
     color: #fff!important;
     margin: 10px 0 18px;
     padding: 8px 35px 8px 14px;
     text-shadow: none!important;
}
 h2.tribe-events-page-title, #tribe-geo-results h2.tribe-events-page-title {
     font-size: 30px;
     font-weight: normal;
     color: #fff;
}
 h2.tribe-events-page-title a {
     color: #fff!important;
}
 h2.tribe-events-page-title a:hover, h2.tribe-events-page-title a:focus {
     color: #fd9ea3!important;
}
 .textarea-wrap.label-above textarea{
     width: 94%;
}

 .textarea-wrap textarea {
     height: 90px;
}
 .iyd-form{
     width: 60%;
     margin: 0px auto;
}
 #pbc-shell-0{
     text-align:center!important;
}
 .iyd-info {
     padding-top: 10px;
}
 hr.iyd-event-line {
     text-align: center;
     width: 68%;
     margin-bottom: 0px;
     margin-top: 0px;
}
 .banner-title {
     font-size: 70px;
     text-align: center;
     font-family: gotham-book;
     padding: 31px 0px;
     color: #333;
}
 .banner-sub-title {
     text-align: center;
     font-size: 38px;
     font-family: gotham-book;
     color: #333;
    lineheight:40px;
}
 .banner-sub-title span {
     color: #333;
     border-right: 1px solid #999;
     padding-right: 30px;
     margin-right: 30px;
}
 .banner-logo {
     width: 160px;
     padding: 28px 0px;
}
 .iyd-invite-section {
     padding: 50px 0px;
     border-bottom: 1px solid #eee;
}
 .img-width{
     width:400px;
     float:right;
}
 p.heartspot-content{
     font-size: 22px;
     line-height: 40px;
}
 .site-main p {
     margin: 0 0 0px!important;
}
 .iyd-invite-title {
     padding-bottom: 30px;
     font-family: gotham-book;
     font-size: 40px;
     line-height: 60px;
}
 .iyd-invite-section p {
     padding-bottom: 15px;
     line-height: 40px;
     font-size: 24px;
}
 .iyd-about-section, .iyd-heartspot-section, .iyd-magazines-section {
     background-color: rgba(237, 205, 181, 0.14);
}
 .iyd-about-daaji-title, .iyd-magazines-title, .get-app, .iyd-meditate-title{
     margin: 12px 0px;
     font-size: 28px;
     font-family: gotham-medium;
     color: #999999;
}
 .yoga-tools{
     font-family: gotham-book;
     font-size: 42px;
     line-height: 45px;
}
 .theme-blue{
     color:#1da1f2;
}
 .iyd-about-daaji-content, .iyd-magazines-section p {
     font-size: 20px;
     line-height: 40px;
     word-spacing: -1px;
}
 .read-more-about {
     font-size: 20px;
     font-weight: bold;
}
 .iyd-about-section {
     padding: 80px 0px;
     border-bottom: 2px solid #eee;
}
 .read-more-btn {
     margin: 14px 0px;
}
 .app-content {
     padding: 60px 0px;
}
 .iyd-app-section {
     padding: 60px 0px;
}
 .iyd-heartspot-section{
     padding: 60px 0px;
}
 .iyd-app-section h3, .iyd-app-section p {
     margin-bottom: 12px;
}
 .iyd-app-sections img {
     width: auto;
     margin-bottom: 10px;
}
 .down-app {
     border: 1px solid #bdbcbc;
     border-radius: 10px;
     margin-bottom: 12px;
}
 .iyd-meditate-section {
     padding: 60px 0px;
     border-bottom: 2px solid #eee;
}
 .iyd-meditate-title {
     padding-bottom: 40px;
}
 p.about-heartfulness-info{
     font-size: 22px;
     font-family: gotham-light;
     line-height: 38px;
}
 .iyd-magazines-section {
     padding: 60px 0px;
     border-bottom: 1px solid #eee;
}
 .iyd-magazines-section p {
     padding-bottom: 15px; 
}
 .app-img {
     padding-left: 15px;
}
 .padding-t-45 {
     padding-top: 45px;
}
 .padding-t-60 {
     padding-top: 60px;
}
 .magazine-text {
     font-size: 16px;
}
 .iyd-infographic-section {
     background: #fff;
     padding: 60px 0px;
     border-bottom: 1px solid #eee;
}
 .infographic-section-title {
     padding-top: 25px;
     color: #fff;
}
 .infographic-img {
     padding: 30px 0px;
}
 @media (max-width: 1022px) {
     .app-content{
         text-align:center!important;
    }
     .right-app-content img{
         margin: 0px auto;
    }
     .img-width {
         float:none;
    }
}
 @media (max-width: 992px) {
     .iyd-form{
         width: 100%;
         margin: 0px auto;
    }
     .banner-title {
         font-size: 72px;
    }
     .banner-sub-title {
         font-size: 34px;
    }
     .banner-logo {
         width: 140px;
    }
     .img-width{
         float:none;
         margin:0px auto;
    }
}
 @media (max-width: 768px) {
     .control-group{
         float: left!important;
         display: inline;
         width: 100%!important;
    }
     #wr_form_26079.jsn-master .jsn-bootstrap .jsn-form-content .control-group .controls input, #wr_form_26079.jsn-master .jsn-bootstrap .jsn-form-content .control-group .controls select, #wr_form_26079.jsn-master .jsn-bootstrap .jsn-form-content .control-group .controls textarea {
         width: 96%!important;
    }
     .banner-title {
         font-size: 72px;
    }
     .banner-sub-title {
         font-size: 34px;
    }
     .banner-sub-title span {
         border: none;
         padding: 0px;
         margin: 0px;
         display: block;
    }
     .banner-logo {
         width: 140px;
    }
}
 @media (max-width: 402px) {
     .banner-title {
         font-size: 56px;
         padding: 45px 0px;
    }
     .banner-sub-title {
         font-size: 28px;
    }
     .banner-sub-title span {
         border: none;
         padding: 0px;
         margin: 0px;
         display: block;
         text-align: center;
    }
     .banner-logo {
         width: 140px;
    }
}
 .iydform-main{
     max-width: 650px;
     margin: 0 auto;
}
 .event-is-recurring{
    display:none;
}
