.hfn-subscribe-banner{
    background:#f6f7f8;
}
 .main-div-section{
     margin-top: 30px;
     margin: 0 auto;
     max-width: 500px;
     padding: 40px 40px;
     box-shadow: 0 0 0px black;
     border-radius: 15px;
     display:inline-block;
}
 .hfm_icon{
     background: url(http://cdn-prod.heartfulness.org/hfn/images/2018/feb/Heartfulness-magazine-icon-for-subscription-page.png) no-repeat 0px 0px;
     width: 75px;
     height: 75px;
     margin-left:12px;
     background-size: contain;
}
 .you_icon{
     background: url(http://cdn-prod.heartfulness.org/hfn/images/2018/feb/YouTube_logo.png) no-repeat 0px 0px;
     width: 80px;
     height: 80px;
     background-size: contain;
}
 .speak_icon{
     background: url(http://cdn-prod.heartfulness.org/hfn/images/2018/feb/speakingptree.png) no-repeat 0px 0px;
     width: 80px;
     height: 72px;
     margin-left:6px;
     background-size: contain;
}
 .center_txt{
     text-align: left;
    vertical-align: middle;
    line-height: 45px;
}
 .img-section{
     padding-top:10px;
}
 .center_txt a {
     color:#1da1f2;
     font-family: Gotham-Book;
}
