.terms p{
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 28px;
}
 .terms p strong{
    font-weight:bold;
}

.terms h3{
    color:#000000;
    font-weight:bold;
    font-size: 18px;
    padding-bottom: 5px;
}

