.hfn-vids {
     font-weight: bold;
     padding: 18px 0;
}
 @media (max-width: 990px){
     .dzs-layout--3-cols > .dzs-layout-item {
         width: 100%!important;
         display: block;
    }
}
