@import "custom/_global";
@import "custom/_header";
@import "custom/_preloader";


/* Padding*/
.col-md-6.padd-0{
    padding: 0px;
}
.padd-5{
  padding: 5px;
}
.padd-10{
  padding:10px;
}
.padd-15{
  padding: 15px;
}
.padd-20{
  padding: 20px;
}
.padd-25{
  padding: 25px;
}
.padd-30{
  padding:30px;
}
.padd-35{
  padding: 35px;
}
.padd-40{
  padding: 40px;
}
.padd-45{
  padding: 45px;
}
.padd-50{
  padding: 50px;
}
.padd-55{
  padding: 55px;
}
.padd-60{
  padding: 60px;
}
.padd-65{
  padding: 65px;
}
.padd-70{
  padding: 70px;
}
.padd-75{
  padding: 75px;
}
.padd-80{
  padding: 80px;
}
.padd-85{
  padding: 85px;
}
.padd-90{
  padding: 90px;
}
.padd-95{
  padding: 95px;
}
.padd-100{
  padding: 100px;
}
.padd-tb0{
  padding: 0px;
}
.padd-tb5{
  padding: 5px 0px;
}
.padd-tb10{
  padding: 10px 0px;
}
.padd-tb15{
  padding: 15px 0px;
}
.padd-tb20{
  padding: 20px 0px;
}
.padd-tb25{
  padding: 25px 0px;
}
.padd-tb30{
  padding: 30px 0px;
}
.padd-tb35{
  padding: 35px 0px;
}
.padd-tb40{
  padding: 40px 0px;
}
.padd-tb45{
  padding: 45px 0px;
}
.padd-tb50{
  padding: 50px 0px;
}
.padd-tb55{
  padding: 55px 0px;
}
.padd-tb60{
  padding: 60px 0px;
}
.padd-tb65{
  padding: 65px 0px;
}
.padd-tb70{
  padding: 70px 0px;
}
.padd-tb75{
  padding: 75px 0px;
}
.padd-tb80{
  padding: 80px 0px;
}
.padd-tb85{
  padding: 85px 0px;
}
.padd-tb90{
  padding: 90px 0px;
}
.padd-tb95{
  padding: 95px 0px;
}
.padd-tb100{
  padding: 100px 0px;
}

.padd-t0{
  padding-top:0px;
}
.padd-t5{
  padding-top:5px;
}
.padd-t10{
  padding-top:10px;
}
.padd-t15{
  padding-top:15px;
}
.padd-t20{
  padding-top:20px;
}
.padd-t25{
  padding-top:25px;
}
.padd-t30{
  padding-top:30px;
}
.padd-t35{
  padding-top:35px;
}
.padd-t40{
  padding-top:40px;
}
.padd-t45{
  padding-top:45px;
}
.padd-t50{
  padding-top:50px;
}

.padd-b0{
  padding-bottom:0px;
}
.padd-b5{
  padding-bottom:5px;
}
.padd-b10{
  padding-bottom:10px;
}
.padd-b15{
  padding-bottom:15px;
}
.padd-b20{
  padding-bottom:20px;
}
.padd-b25{
  padding-bottom:25px;
}
.padd-b30{
  padding-bottom:30px;
}
.padd-b35{
  padding-bottom:35px;
}
.padd-b40{
  padding-bottom:40px;
}
.padd-b45{
  padding-bottom:45px;
}

/*End PAdding*/
.padd-40{
  padding: 40px 0px;
}
.padd-50{
  padding: 50px 0px;
}
.padd-90{
  padding: 90px 0px;
}
.padd-0{
  padding: 0px;
}
.padd-right-100{
  padding-right: 100px;
}
.padd-left-100{
  padding-left: 100px;
}
.padd-top-130{
  padding-top: 130px;
}
